body {
    background-color: rgb(22, 23, 30);;
}

.mapint {
    
}

.desc {
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    width: 100%;
    max-width: 710px;

    border: 2px solid rgb(54, 54, 54);
}

.mapint img {
    height: 100%;
    width: auto;
    max-height: 356px;
    border-radius: 10%;
    
    transition: 1s;
}

.mapint img:hover {
    border-radius: 5%;
}