body {
    background-color: rgb(22, 23, 30);
     justify-content: center;
      align-items: center;
      position: relative;
}

.myname {
    color: rgb(90, 96, 145);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
    line-height: 300%;
    margin-bottom: 0px;
}

.buttonsandshit {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttonsandshit a {
    text-align: center;
    color: rgb(172, 179, 229);
    font-size: 25px;
}

.buttonsandshit img {
    color: rgba(13, 6, 83, 0.466);
    width: 100px;
    height: 100px;
}

a:hover {
    width: 110px;
    height: 110px;
}

.clocks {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.clocks a {
    color: #FF0000;
}

.sitedruga button {
    border-radius: 50px;
    background-color: rgb(90, 96, 145);
    border-color: transparent transparent transparent;

    width: 200px;
    color: rgb(168, 176, 240);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
