body {
    background-color: rgb(22, 23, 30);
     justify-content: center;
      align-items: center;
      position: relative;
}

.myprojs {
        width: 70px;
    height: 70px;

    border-radius: 50%;

    transition: 1s;
}

.myproj {
    text-align: center;
    color: rgb(154, 162, 226);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.myname {
    color: rgb(90, 96, 145);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
    line-height: 300%;
    margin-bottom: 0px;
}

.buttonsandshit {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttonsandshit a {
    text-align: center;
    color: rgb(172, 179, 229);
    font-size: 25px;
}

.buttonsandshit img {
    color: rgba(13, 6, 83, 0.466);
    width: 100px;
    height: 100px;

    border-radius: 100%;

    transition: 1s;
}

.buttonsandshit img:hover {
    transform: scale(1.1);
}


.buttonsandshit a:hover {

    border-radius: 100%;
}

.buttonsandshit2 {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttonsandshit2 a {
    text-align: center;
    color: rgb(172, 179, 229);
    font-size: 25px;
}

.buttonsandshit2 img {
    color: rgba(13, 6, 83, 0.466);
    width: 100px;
    height: 100px;

    border-radius: 100%;

    transition: 1s;
}

.buttonsandshit2 img:hover {
    transform: scale(1.1);
    border-radius: 20%;
}


.buttonsandshit2 a:hover {

    background-color: #1834703d;
    border-radius: 100%;
    ;
}

.clocks {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.clocks a {
    color: #FF0000;
}

.sitedruga img {
    width: 70px;
    height: 70px;

    border-radius: 50%;

    transition: 1s;
}

.sitedruga {
    text-align: center;
    font-size: 0;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.sitedruga img:hover {
    transform: scale(1.1);
}