body {
    background-color: rgb(22, 23, 30);
}

.myname {
    color: rgb(90, 96, 145);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 1000%;
    margin-bottom: -190px;
}

.buttonsandshit {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttonsandshit a {
    text-align: center;
    color: rgb(172, 179, 229);
    font-size: 25px;
}

.buttonsandshit img {
    color: rgb(13, 11, 34);
    width: 50px;
}